@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
#article .article-wrapper {
  padding: 40px 10px;
  padding-top: 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
#article .article-wrapper header {
  margin: inherit 20px;
  display: block;
  border-bottom: 2.5px solid var(--secondary-bg);
}
#article .article-wrapper header .data-tag {
  color: var(--primary-red);
  padding: 0px;
  text-transform: lowercase;
  display: inline-block;
}
#article .article-wrapper header .data-author {
  color: var(--primary-red);
  font-weight: 800;
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
}
#article .article-wrapper header .data {
  color: var(--darker-translucent-text);
}
#article .article-wrapper header h1 {
  text-align: left;
  font-size: 2.3em;
  font-weight: 700;
}
#article .article-wrapper header h1 span.edited {
  color: var(--darker-translucent-text);
  font-size: 0.6em;
  font-weight: 600;
}
#article .article-wrapper header img {
  margin-top: 15px;
}
#article .article-wrapper header p.img-desc {
  color: var(--translucent-text);
}
#article .article-wrapper header .share {
  padding-top: 10px;
  padding-bottom: 15px;
}
#article .article-wrapper header .share .share-button svg {
  padding: 6px 9px;
  background-color: var(--secondary-bg);
  border-radius: 20px;
  font-size: 2em;
  margin-right: 6px;
  cursor: pointer;
}
#article .article-wrapper header .share .facebook svg {
  color: white;
  background-color: #316FF6;
}
#article .article-wrapper header .share .twitter svg {
  color: white;
  background-color: #14171A;
  padding: 5px 7px;
}
#article .article-wrapper header .share .copy svg {
  color: white;
  padding: 5px 7px;
  background-color: var(--primary-red);
}
#article .article-wrapper article.body {
  padding: 20px 40px inherit 40px;
  margin-top: 20px;
}
#article .article-wrapper article.body span {
  font-size: 1.035em;
  line-height: 1.8;
  font-family: Georgia, Times, serif;
  font-optical-sizing: auto;
}
#article .article-wrapper article.body span a {
  font-size: 1.035em;
  line-height: 1.8;
  font-family: Georgia, Times, serif;
  font-optical-sizing: auto;
  font-family: Georgia, Times, serif;
  text-decoration: underline var(--primary-red);
}
#article .article-wrapper article.body span a:hover {
  color: var(--primary-red);
}
#article .article-wrapper article.body span h2 {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}
#article .article-wrapper article.body span h3 {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}
#article .article-wrapper article.body span img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 500px) {
  #article .article-wrapper {
    padding: 0px 5px 40px 5px;
  }
  #article .article-wrapper .container h1 {
    font-size: 2em;
  }
}